<div class="searchbar-segment">
  <form
    class="searchbar-form"
    [formGroup]="searchForm"
    (ngSubmit)="onSubmit(searchForm)"
  >
    <div class="searchbar-grid">
      <div class="home-column">
        <img
          src="assets/icons/game-controller.png"
          alt="Logo"
          class="brand-icon"
        />
        <a routerLink="/" class="brand-link">
          <span class="brand-title">VideoGamesDB</span>
        </a>
      </div>
      <div class="search-column">
        <div class="search-input-wrapper">
          <input
            formControlName="searchQuery"
            class="search-input"
            type="text"
            placeholder="Search 500,000+ games"
          />
          <button class="search-button" type="submit">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>
