.ui.card {
  background: #000;
  display: flex;
  .content * {
    color: #ffcb9a !important;
  }
}

.ui.card > .image,
.ui.cards > .card > .image {
  flex: 50 0 auto;
}

.ui.card > .image > img,
.ui.cards > .card > .image > img {
  max-height: 15rem;
}

i.icon {
  color: #fff;
}

.primary-color:hover {
  color: #d9b08c !important;
}

::ng-deep .selection * {
  color: #000 !important;
}

// img {
//   aspect-ratio: 3/2;
// }

.platforms {
  display: flex;

  .game-platform {
    width: 20px;
    margin-right: 10px;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
}

::ng-deep .ui.pagination.menu {
  border: 0 solid transparent;
  background: #1b1c1d;
  // -webkit-box-shadow: none;
  box-shadow: none;

  .item:active,
  .active.item {
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
  }

  .item.disabled {
    color: #fff !important;
  }

  .item {
    background: 0 0;
    color: rgba(255, 255, 255, 0.9);
  }
}

::ng-deep .ngx-pagination {
  background: #1e70bf;
  padding: 10px;
  border-radius: 4px;
}

.custom-select {
  min-width: 350px;
  position: relative;
}

select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #e1e1e7;
  border-radius: 0.25rem;
  color: #000 !important;
  cursor: pointer;

  option {
    color: initial;
  }
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
